{% extends "admin/base.html" %}

{% block branding %}
{{ block.super }}
<div id="logo">
    <a href="{% url 'admin:index' %}">
        <svg width="50" height="50" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="sc-15iua2v-0 eVOXzp"><path d="M20.335,3.905C22.609,6.179 23.76,8.909 23.76,12.066C23.76,15.25 22.609,17.953 20.335,20.227C18.061,22.502 15.278,23.652 11.987,23.652C8.722,23.652 5.939,22.502 3.665,20.227C1.391,17.953 0.24,15.223 0.24,12.066C0.24,8.909 1.391,6.206 3.665,3.905C5.939,1.631 8.722,0.48 11.987,0.48C15.278,0.48 18.061,1.631 20.335,3.905ZM11.987,2.968C9.578,2.968 7.491,3.851 5.725,5.617C3.959,7.383 3.076,9.524 3.076,12.066C3.076,14.608 3.959,16.775 5.725,18.541C7.491,20.307 9.578,21.19 11.987,21.19C14.395,21.19 16.482,20.307 18.248,18.541C20.014,16.775 20.897,14.635 20.897,12.066C20.897,9.524 20.014,7.383 18.248,5.617C16.482,3.851 14.395,2.968 11.987,2.968Z" fill="white   " class="colorFill"></path><path d="M13.726,7.25L10.274,7.25L10.274,10.701L13.726,10.701L13.726,7.25ZM13.726,13.404L10.274,13.404L10.274,16.856L13.726,16.856L13.726,13.404Z" fill="white" class="colorFill"></path></svg>
    </a>
</div>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css">
        #logo{
            width: 50px;
            margin: auto ;
        }
        #branding h1, #branding h1 a:link, #branding h1 a:visited, #header a:link, #header a:visited, #header a:hover {
            color: #fff;
        }
        #header, .module caption, div.breadcrumbs, .module h2, .inline-group h2{
            background-color:#cc040e;
        }
        .submit-row > input, .submit-row > input.default {
            background-color: rgba(0, 0, 0, 0.733);
        }
        .submit-row > input:hover, .submit-row > input.default:hover{
            background-color: rgb(218, 213, 213);
            color: black;
            border: black solid 0.5px;
        }
        changelist-filter li.selected a {
            color: #444;
        }

        fieldset.collapsed .collapse-toggle {
            color: #444;
        }

        a:link, a:visited {
            color: #777;
        }

        a:focus, a:hover {
            color: #999;
        }

        table thead th.sorted .sortoptions a.sortremove:focus:after,
        table thead th.sorted .sortoptions a.sortremove:hover:after {
            color: #444;
        }

        a.active.selector-chooseall:focus, a.active.selector-clearall:focus,
        a.active.selector-chooseall:hover, a.active.selector-clearall:hover {
            color: #999;
        }
    </style>
{% endblock %}