<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body class="container">
    <header class="p-4" style="border-bottom: #cc040e solid 3px;">
        <div class="auth_nav d-flex justify-content-end my-2">
            <p>Bienvenue {{user.username}} - <a href="{% url 'logout' %}" style="color: black;">Se déconnecter</a></p>
        </div>
        <nav class="d-flex justify-content-around align-items-center flex-column flex-md-row">
            <svg width="150" height="150" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="sc-15iua2v-0 eVOXzp"><path d="M20.335,3.905C22.609,6.179 23.76,8.909 23.76,12.066C23.76,15.25 22.609,17.953 20.335,20.227C18.061,22.502 15.278,23.652 11.987,23.652C8.722,23.652 5.939,22.502 3.665,20.227C1.391,17.953 0.24,15.223 0.24,12.066C0.24,8.909 1.391,6.206 3.665,3.905C5.939,1.631 8.722,0.48 11.987,0.48C15.278,0.48 18.061,1.631 20.335,3.905ZM11.987,2.968C9.578,2.968 7.491,3.851 5.725,5.617C3.959,7.383 3.076,9.524 3.076,12.066C3.076,14.608 3.959,16.775 5.725,18.541C7.491,20.307 9.578,21.19 11.987,21.19C14.395,21.19 16.482,20.307 18.248,18.541C20.014,16.775 20.897,14.635 20.897,12.066C20.897,9.524 20.014,7.383 18.248,5.617C16.482,3.851 14.395,2.968 11.987,2.968Z" fill="#cc040e" class="colorFill"></path><path d="M13.726,7.25L10.274,7.25L10.274,10.701L13.726,10.701L13.726,7.25ZM13.726,13.404L10.274,13.404L10.274,16.856L13.726,16.856L13.726,13.404Z" fill="#cc040e" class="colorFill"></path></svg>
            <h1 class="text-center" style="color: #cc040e;">Simplon - Journal de bord de la promo</h1>
            <a href="http://localhost:8000/admin/journal_de_bord/entrees/add/" style="color: #cc040e;" target="_blank">+ Nouvelle entrée</a>
        </nav>
    </header>

    <div class="filtres d-flex justify-content-center align-items-center m-3 flex-column flex-md-row">
       <form method="POST">
           {% csrf_token %}
           <select class="mx-3" name="apprenants">
               <option value="">-- Apprenant.e.s --</option>
               {% for apprenant in apprenants %}
                   <option value="{{apprenant.id}}"> {{apprenant}}</option>
               {% endfor %}
           </select>
           <input type="submit" value="Filtrer">
       </form>
       <form method="POST">
        {% csrf_token %}
        <select class="mx-3" name="categories">
            <option value="">-- Catégories --</option>
            {% for categorie in categories %}
                <option value="{{categorie.id}}"> {{categorie}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtrer">
    </form>
    </div>

    {% for note in data  %}
    <div class="card mx-auto mt-5" style="width: 80%; border: #cc040e solid 1px; background-color: #F9F7F7;">
        <div class="card-body">
            <div class="entete d-flex align-items-center justify-content-between flex-column flex-md-row">
                <h5 class="card-title" style="color:#cc040e;">{{note.titre}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">créée le {{note.date_creation}} par <strong>{{note.auteur}}</strong> </h6>
            </div>
          <p class="card-text">{{note.contenu}}</p>
          <div class="card-footer text-muted">
            {% if  note.categories.all%}
                <div class="categories d-flex flex-wrap">
                    <p class="fst-italic">Catégories : </p>
                    {% for categorie in note.categories.all %}
                        <p class="mx-1">{{ categorie.titre }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if  note.apprenants.all%}
                <div class="apprenants d-flex flex-wrap">
                    <p class="fst-italic">Apprenant.e.s : </p>
                    {% for apprenant in note.apprenants.all %}
                        <p class="mx-1">{{ apprenant }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if  note.date_modification > note.date_creation %}
                <div class="d-flex justify-content-end">
                    <p>Modifiée le {{note.date_modification}} </p>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="buttons text-center">
          <a href="http://localhost:8000/admin/journal_de_bord/entrees/{{note.id}}/change/"><button style="background-color: #F4E240;">Modifier</button></a>
          <a href="http://localhost:8000/admin/journal_de_bord/entrees/{{note.id}}/delete/"><button style="background-color: rgba(229,45,54,0.83);">Supprimer</button></a>
      </div>
      {% endfor %}

      <footer style="border-top: #cc040e solid 3px;" class="p-3 m-3">
          <p style="color: #cc040e; text-align: center;">Simplon - 2021</p>
      </footer>
</body>
</html>